@model IEnumerable<Neetechs_MVC.Models.Comment>

<div class="row">
    @foreach (var item in Model)
    {
        <!-- Category Card -->
        <div class="col-md-12">
            <div class="col card-head"> 
                @*      <a href="/Profile/Details/@item.UserId">
                          @if (@item.Profile.File != null){
                            <img class="circle" src="data:image/jpeg;base64,@Convert.ToBase64String(@item.Profile.File)" alt="User Image" style="width: 52px; height: 52px;  border-radius: 50%;">
                          }
                          else{
                            <img class="img-circle" src="~/profile.png" alt="User Image" style="width: 52px; height: 52px;">
                          }
                      </a>
                      <a href="/Profile/Details/@item.UserId">
                          @Html.DisplayFor(modelItem => item.)
                      </a>  
              *@
             @Html.DisplayFor(modelItem => item.Name)

                <div class="pull-right dropdown">
                        <button href="#PostList@item.id" type="button" class="nav-link btn btn-link text-dark"
                        data-bs-toggle="dropdown">
                               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                        </button>
                        <div id="PostList@item.id" class="dropdown-menu dropdown-menu-end">
                            <a class="btn btn-default btn-xs" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-default btn-xs" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-default btn-xs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                </div>
             </div> 
        </div>
    }
</div>