@model IEnumerable<Neetechs.Model.Product>

<style>
    .panel {
        border: none;
        background-color:#f7f2f2!important;
        box-shadow: none;
    }
    .product-imitation.xl {
        padding: 120px 0;
    }
    .panel:hover,
    .panel.active {
          border: 1px solid transparent;
          -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
          -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
          box-shadow: 0 3px 7px 0 #a8a8a8;
    }
</style>
<div class="row">
    @foreach (var item in Model) {
        <div class="col-md-3">
            <div class="card panel">
                <div class="card-img-actions pro-img-box">
                     @if(@item.File != null){
                         <img src="data:image/jpeg;base64,@Convert.ToBase64String(@item.File)" class="card-img img-thumbnail" width="220px" height="250px" alt=""/>
                     }
                </div>
                <div class="card-body text-center">
                     <h4>
                         <a href="/Products/Details/@item.Id" data-abc="true" class="pro-title">
                             @Html.DisplayFor(modelItem => item.Name)
                         </a>
                    </h4>
                    <p class="price">$@Html.DisplayFor(modelItem => item.Price)</p>
                     <button type="button" class="btn btn-orange" onclick="addToCart(@item.Id)"> Add to Cart </button>

                    @*                
	                <div class="mb-2">
                        <a href="#" data-abc="true">@Html.DisplayFor(modelItem => item.Brand)</a> 
                    </div>
	                <h3 >@Html.DisplayFor(modelItem => item.Price)</h3>
	                <div> 
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i>
                        <i class="fa fa-star star"></i> 
                        <i class="fa fa-star star"></i> 
                    </div>
	                <div>34 reviews</div>
                    *@

                </div>
            </div>
        </div>
        @* @Html.DisplayFor(modelItem => item.File) @Html.DisplayFor(modelItem => item.FileName) @Html.DisplayFor(modelItem => item.UserId) @Html.DisplayFor(modelItem => item.Date) *@
    }
</div>

