@model IEnumerable<Neetechs_MVC.Models.Post>

<div class="row">
    @foreach (var item in Model)
    {
        <!-- Category Card -->
        <div class="col-md-12">
            <a class="card-body">
                  <a href="/Profile/Details/@item.UserId">
                      @if (@item.Profile.File != null){
                        <img class="img-circle" src="data:image/jpeg;base64,@Convert.ToBase64String(@item.Profile.File)" alt="User Image" style="width: 52px; height: 52px;">
                      }
                      else{
                        <img class="img-circle" src="~/profile.png" alt="User Image" style="width: 52px; height: 52px;">
                      }
                  </a>
                  <a href="/Profile/Details/@item.UserId">
                      @Html.DisplayFor(modelItem => item.Profile.FullName)
                  </a>
         
                  <div class="pull-right">dfgfdg</div>
                           <p>@Html.DisplayFor(modelItem => item.Category)
                      - @Html.DisplayFor(modelItem => item.Name)
                  </p>
                  <p>Shared publicly - @Html.DisplayFor(modelItem => item.AddDate)</p>
             </a>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                <div class="card-image">
                    @if (@item.File != null)
                    {
                        <img src="data:image/jpeg;base64,@Convert.ToBase64String(@item.File)" class="card-img img-fluid"
                    width="26" height="96" alt="" />
                    }
                </div>
                <div class="card-body">
                  <span class="pull-right text-muted">45 likes - 2 comments</span>
                </div>
                <div class="card-body">
                 <a asp-action="Details" class=" btn text-dark" asp-route-id="@item.Id">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-eye">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                    <button type="button" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-xs"><i class="fa fa-edit"></i> Edit</button>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
                    <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
                    <a type="button" class="btn btn-default btn-xs" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a type="button" class="btn btn-default btn-xs" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a type="button" class="btn btn-default btn-xs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                   </div>
                <div class="card-body">

                     <input class="form-control" placeholder="Write a comment. . ."/>
                     <input type="submit" hidden />
                </div>
        </div>
    }
</div>
