@model Neetechs_MVC.Models.Post

@{
	ViewData["Title"] = "Details";
}

<div class="row clearfix">
	<article class="article-comment">
		<img src="https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80"
			alt="" class="img-fluid">
		<div class="post-content">
			<h3>A smart template that works 24/7 for your company</h3>
			<ul class="post-meta list-inline">
				<li class="list-inline-item">
					<i class="fa fa-user-circle-o"></i>
					<a href="#">John Doe</a>
				</li>
				<li class="list-inline-item">
					<i class="fa fa-calendar-o"></i>
					<a href="#">29 June 2017</a>
				</li>
				<li class="list-inline-item">
					<i class="fa fa-tags"></i>
					<a href="#">Bootstrap4</a>
				</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
				ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
				fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,</p>
			<p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
				Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,</p>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
				ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
				fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,</p>
			<ul class="list-inline share-buttons">
				<li class="list-inline-item">Share Post:</li>
				<li class="list-inline-item">
					<a href="#" class="social-icon-sm si-dark si-colored-facebook si-gray-round">
						<i class="fa fa-facebook"></i>
						<i class="fa fa-facebook"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="social-icon-sm si-dark si-colored-twitter si-gray-round">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-twitter"></i>
					</a>
				</li>
				<li class="list-inline-item">
					<a href="#" class="social-icon-sm si-dark si-colored-linkedin si-gray-round">
						<i class="fa fa-linkedin"></i>
						<i class="fa fa-linkedin"></i>
					</a>
				</li>
			</ul>
		</div>
	</article>
	<div class="card article-comment">
		<h4 class="text-uppercase font500">About Author</h4>
		<div class="media mb40">
			<i class="d-flex mr-3 fa fa-user-circle fa-5x text-primary"></i>
			<div class="media-body">
				<h5 class="mt-0 font700">Jane Doe</h5>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
				scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
				condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			</div>
		</div>
	</div>
	<div class="card article-comment">
		<div class="header">
			<h2>Comments 3</h2>
		</div>
		<div class="body">
			<ul class="comment-reply list-unstyled">
				<li class="row clearfix">
					<div class="icon-box col-md-2 col-4">
						<img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar7.png"
							alt="Awesome Image">
					</div>
					<div class="text-box col-md-10 col-8 p-l-0 p-r0">
						<h5 class="m-b-0">Gigi Hadid</h5>
						<p>Why are there so many tutorials on how to decouple WordPress? how fast and easy it is to get
							it running (and keep it running!) and its massive ecosystem.</p>
						<ul class="list-inline">
							<li>
								<a href="javascript:void(0);">Mar 09 2018</a>
							</li>
							<li>
								<a href="javascript:void(0);">Reply</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="row clearfix">
					<div class="icon-box col-md-2 col-4">
						<img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar3.png"
							alt="Awesome Image">
					</div>
					<div class="text-box col-md-10 col-8 p-l-0 p-r0">
						<h5 class="m-b-0">Christian Louboutin</h5>
						<p>Great tutorial but few issues with it? If i try open post i get following errors. Please can
							you help me?</p>
						<ul class="list-inline">
							<li>
								<a href="javascript:void(0);">Mar 12 2018</a>
							</li>
							<li>
								<a href="javascript:void(0);">Reply</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="row clearfix">
					<div class="icon-box col-md-2 col-4">
						<img class="img-fluid img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar4.png"
							alt="Awesome Image">
					</div>
					<div class="text-box col-md-10 col-8 p-l-0 p-r0">
						<h5 class="m-b-0">Kendall Jenner</h5>
						<p>Very nice and informative article. In all the years I've done small and side-projects as a
							freelancer, I've ran into a few problems here and there.</p>
						<ul class="list-inline">
							<li>
								<a href="javascript:void(0);">Mar 20 2018</a>
							</li>
							<li>
								<a href="javascript:void(0);">Reply</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="card contact-form article-comment">
		<h4>Leave a Reply</h4>
		<form id="contact-form" method="POST">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input name="Name" id="name" placeholder="Name *" class="form-control" type="text">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input name="Email" id="email" placeholder="Email *" class="form-control" type="email">
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<textarea name="message" id="message" placeholder="Your message *" rows="4"
							class="form-control"></textarea>
					</div>
				</div>
				<div class="col-md-12">
					<div class="send">
						<button class="px-btn theme">
							<span>Submit</span>
							<i class="arrow"></i>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div>
	<h4>Post</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UserId)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.UserId)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Category)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Category)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FileName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FileName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.File)
		</dt>
		<dd class="col-sm-10">
			@if (@Model.File != null)
			{
				<img src="data:image/jpeg;base64,@Convert.ToBase64String(@Model.File)" class="card-img img-fluid" width="26"
				height="96" alt="" />
			}
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
